.app {
    min-width: 320px;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    background: linear-gradient(5deg, rgba(255, 255, 255, 1) 13%, rgba(105, 245, 235, 0.52) 100%);
    overflow: hidden;
    position: relative;
    display: grid;
    justify-items: center;
}

.app__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    min-width: 60%;
    max-width: 80%;
    margin: 0;
    padding: 0 10px;
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 20;
    top: 22%;
    text-align: center;
    white-space: pre-line;
    font-size: 1.5rem;
}

.app__title span {
    background-color: rgb(241, 171, 5);
    padding: 0 5px ;
}

.app__title span:first-child {
    font-size: 3rem;
    background-color: rgb(145, 145, 232);
    text-transform: capitalize;
    color: gold;
}

.app__title span:last-child {
    margin-top: -15px;
}

.sun {
    position: absolute;
    right: 5%;
    top: 2%;
    width: 80px;
    height: 80px;
    background-color: gold;
    box-shadow: 0 0 50px goldenrod;
    border-radius: 50%;
    z-index: 5;
    animation: sunmove 120s linear infinite;
}

.sun li {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 2px;
    border-radius: 1px;
    background-color: gold;
}

.sun li:nth-child(1) {
    transform: translate(-50%, -50%) rotate(22.5deg);
}

.sun li:nth-child(2) {
    transform: translate(-50%, -50%) rotate(45deg);
}

.sun li:nth-child(3) {
    transform: translate(-50%, -50%) rotate(67.5deg);
}

.sun li:nth-child(4) {
    transform: translate(-50%, -50%) rotate(90deg);
}

.sun li:nth-child(5) {
    transform: translate(-50%, -50%) rotate(112.5deg);
}

.sun li:nth-child(6) {
    transform: translate(-50%, -50%) rotate(135deg);
}

.sun li:nth-child(7) {
    transform: translate(-50%, -50%) rotate(157.5deg);
}

.sun li:nth-child(8) {
    transform: translate(-50%, -50%) rotate(180deg);
}

@keyframes sunmove {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cloud {
    position: absolute;
    width: 120px;
    height: 60px;
    border-radius: 50%;
    left: 2%;
    top: 2%;
    animation: cloudmove 50s linear infinite;
}

@keyframes cloudmove {
    0% {
        transform: translate(0);
    }
    25% {
        transform: translate(50%);
    }
    50% {
        transform: translate(100%);
    }
    75% {
        transform: translate(50%);
    }
    100% {
        transform: translate(0);
    }
}

.balls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.ball,
.ball_option {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 4px;
    border-radius: 50%;
    background-color: yellow;
    box-shadow: 0 0 5px goldenrod;
    animation: animate 2s linear infinite;
}

.ball:nth-child(even) {
    background-color: #54c054;
    box-shadow: 0 0 5px #157e15;
}

.ball_option {
    background-color: #0066cc;
    box-shadow: 0 0 5px darkblue;
}

.ball_option:nth-child(even) {
    background-color: #fd7b90;
    box-shadow: 0 0 5px red;
}

.ball:before,
.ball_option:before {
    content: '';
    width: 4px;
    height: 4px;
    border: 2px solid transparent;
    border-bottom: 3px solid goldenrod;
    position: absolute;
    bottom: -12%;
    left: 34%;
}

.ball:nth-child(even):before {
    border-bottom: 3px solid #106410;
}

.ball_option:before {
    border-bottom: 3px solid #0066cc;
}

.ball_option:nth-child(even):before {
    border-bottom: 3px solid deeppink;
}

@keyframes animate {
    0% {
        transform: translateY(110vh) scale(0);
    }
    100% {
        transform: translateY(-5vh) scale(1);
    }
}

.konyashik {
    position: absolute;
    left: 10%;
    bottom: 15%;
    width: 100%;
    animation: konyashik 30s linear infinite;
    z-index: 10;
}

.konyashik img {
    display: block;
    max-width: 70%;
    height: auto;
}

@keyframes konyashik {
    0% {
        transform: translateY(10px) scale(1) rotate(-5deg);
    }
    50% {
        transform: translateY(-10px) scale(1.1) rotate(0deg);
    }
    100% {
        transform: translateY(10px) scale(1) rotate(-5deg);
    }
}

@media (min-width: 450px) {
    .konyashik {
        position: absolute;
        left: 10%;
        bottom: 10%;
        width: 80%;
        animation: konyashik 20s linear infinite;
        z-index: 10;
    }

    .app__title {
        font-size: 2rem;
    }
}

.earth {
    position: absolute;
    bottom: 0;
}
