:root {
  --color-gray: #dddfd4;
  --color-yellow: #fae596;
  --color-turquoise: #3fb0ac;
  --color-dark-blue: #173e43;

}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
}

#root {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
  background-color: var(--color-gray);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0 none;
  clip-path: inset(100%);
}
