.up {
    position: fixed;
    bottom: 10px;
    right: 10px ;
}

.up::before {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('../../assets/scroll-up.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
}
